{% extends 'base.html.twig' %}

{% block title %}
    Welcome to USM University!
{% endblock %}
{% block body %}
<!-- ##### Hero Area Start ##### -->

<!-- ##### Hero Area End ##### -->

<!-- ##### Contact Service Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-title">
                    <h2>Contact us</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="contact-form-area">
                    {{ form(form) }}
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <!-- Single Contact Information -->
                <div class="single-contact-information mb-30">
                    <h6>{{ text_blocks.phone.name }}:</h6>
                    <p>{{ text_blocks.phone.content }} <br></p>
                </div>
                <!-- Single Contact Information -->
                <div class="single-contact-information mb-30">
                    <h6>{{ text_blocks.email.name }}:</h6>
                    <p>{{ text_blocks.email.content }}<br></p>
                </div>
                <!-- Single Contact Information -->
                <div class="single-contact-information mb-30">
                    <h6>{{ text_blocks.address.name }}:</h6>
                    <p>{{ text_blocks.address.content }}</p>
                </div>
            </div>
        </div>

        <!-- Google Maps -->
        <div class="map-area">
            <div id="googleMap"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
            <script src="/js/google-map/map-active.js"></script>
        </div>

    </div>
</div>
<!-- ##### Contact Service Area End ##### -->

{% endblock %}
