{% extends 'baseAdmin.html.twig' %}
{% block body %}

        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <h2><a href="{{ path('admin_news') }}" class="list-group-item list-group-item-action">Новости</a></h2>
                    <h2><a href="{{ path('admin_comment') }}" class="list-group-item list-group-item-action">Комментарии</a></h2>
                    <h2><a href="{{ path('admin_department') }}" class="list-group-item list-group-item-action">Депаратаменты</a></h2>
                    <h2><a href="{{ path('admin_users') }}" class="list-group-item list-group-item-action">Пользователи</a></h2>
                    <h2><a href="{{ path('admin_text-block') }}" class="list-group-item list-group-item-action">Блоки</a></h2>
                </div>
            </div>
            <div class="col-9">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col">Новость</th>
                        <th scope="col">Удаление</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.user.name }}</td>
                            <td>{{ comment.content }}</td>
                            <td>{{ comment.novelty.name }}</td>
                            <td><a href="{{ path('admin_comment_delete', {'id': comment.id}) }}">Удалить</a></td>
                            <td><a href="{{ path('admin_comment_update', {'id': comment.id}) }}">Редактировать</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}